<H1> PAGINA PERSONAL</H1>

@model Personal


@Html.LabelFor(c=>c.Nombres, "Nombres: ") @Model.Nombres
@Html.LabelFor(m=>m.Apellidos, "Apellidos: ") @Model.Apellidos
@Html.LabelFor(m=>m.Edad, "Edad: ") @Model.Edad
@Html.LabelFor(c=>c.CorreoElectronico, "CorreoElectronico: ") @Model.CorreoElectronico
@Html.LabelFor(m=>m.Telefono, "Telefono: ") @Model.Telefono
@Html.LabelFor(m=>m.Direccion, "Direccion: ") @Model.Direccion