
@{
    ViewData["Title"] = "Sobre mí";
}
<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
<link rel="stylesheet" href="~/css/site.css" />
<div class="p-3 mb-2 bg-secondary text-white">
<div class="text-center">
<div class="alert alert-secondary" role="alert">
  <h1>Datos personales</h1>
</div>
</div>


<div class="card text-white bg-dark mb-3" style="width: 20rem;">
  <img src="img/foto.jpeg" class="card-img-top" alt="Mi imagen">
  <div class="card-body">
    <div class="text-left">
    <p class="card-text">
@model Persona


@Html.LabelFor(m=>m.nombre, "NOMBRE: ") @Model.nombre <br>
@Html.LabelFor(m=>m.apellido, "APELLIDO: ") @Model.apellido <br>
@Html.LabelFor(m=>m.edad, "EDAD: ") @Model.edad <br>
@Html.LabelFor(m=>m.edad, "CORREO ELECTRÓNICO: ") @Model.correo <br><br>
@Html.LabelFor(m=>m.edad, "TELÉFONO: ") @Model.telefono <br>
@Html.LabelFor(m=>m.edad, "DIRECCIÓN: ") @Model.direccion <br>
</p>
  </div>
  </div>
</div>
</div>

