@model primeraAplicacion.Models.Perro

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Perro</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.nama)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.nama)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.raza)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.raza)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.age)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.age)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.vaccine)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.vaccine)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ownerName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ownerName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.telephone)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.telephone)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Owner)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Owner.address)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.perroID">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
